<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<main id='root'>
  "I don't stop when I'm tired. <br>
  I stop when I'm done." <br>
  - David Goggins
</main>