.coachingSessionsMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.coachingSessions {
  display: flex;
  justify-content: flex-start;
  border: gray 1px solid;
  background-color: white;
  border-radius: 4px;
  width: 600px;
  margin: 15px;
  padding: 20px;
  line-height: 1.3;
  font-size: 18px;
}

.timeToggle  {
  width: 250px;
  border: none;
  font-size: 22px;
  background-color: inherit;
  padding-bottom: 10px;
}

.timeToggle:hover {
  background-color: lightgray;
}

.active {
  padding-bottom: 7px;
  font-weight: bold;
  color: #438e29;
  border-bottom: 2px solid #438e29;
}

.dateTime {
  width: 65px;
  padding-right: 10px;
}

.coachingSessions button {
  display: block;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background-color: #51af33;
  padding: 5px 20px;
  border-color: #86919d ;
  min-width: 130px;
  color: white;
  border-radius: 4px;
  margin: 15px 0px;
  font-size: 17px;
  transition-property: background-color, color;
  transition-timing-function: ease;
  transition-duration: 0.16s;
}

.coachingSessions button:hover {
  background-color: #438e29;
  color: white;
  cursor: pointer;
}

.scheduleButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.scheduleButtons button{
  margin-right: 20px;
}