/* shared CSS classes */
.mainLoginBackground {
  background-image: url("https://images.unsplash.com/photo-1576426846595-64bac8ffd3a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
  height: 100%;
  width: 100%;
  position: fixed;
  background-position: center;
  background-repeat: stretch;
  background-size: cover;
}

.mainLoginPanel {
  background-color: white;
  border: 1px solid #dce0e6;
  align-items: center;
  max-width: 468px;
  margin-bottom: 1em;
  border-radius: 4px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  top: 2em;
  padding: 1.5rem 2rem
}

.mainLoginPanel > button {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-bottom: 1em;
  font-size: 1.2rem;  
  color: white;
  padding: 0.7em;
  border-radius: 4px;
}

/* only entry page css */
.myspace {
  background-color: #3B5998;
}

.xanga {
  background-color: #D73D32;
}

.demoUserLogin {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  font-size: 1.2rem;  
  color: #51af33;

}

.entrypageLinks {
  display: flex;
  justify-content: center;
  color: #51af33;
}

.entrypageLinks > a {
  display: inline-block;
  text-align: center;
  padding: 0.5em 1.38em 0.5em;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: normal;
  border: 1px solid #51af33;
  background-color: white;
  transition-property: background-color, color;
  transition-timing-function: ease;
  transition-duration: 0.16s;
  width: 47.5%;
  color: hsl(105, 55%, 44%); 
}

.entrypageLinks > a:hover{
  color: white; 
  background-color: #51af33;
  cursor: pointer;
}

.buttonSecond{
  margin-left: 5%;
}

.textLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* shared form CSS classes */
.initialForm {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.initialForm > label {
  display: block;
  color: #86919d;
  margin-left: 3px;
  margin-bottom: 0.275em;
  font-size: 0.875em;
  border: 0px 0px 3.85px 3px;
  width: 100%;
}

.initialForm > input {
  display: inline-block;
  text-align: start;
  height: 24px;
  width: 100%;
  font-size: 15px;
  padding: 10px 16px;
  border: 1px solid #86919d;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.initialForm > input:focus {
  border: 1px solid #51af33;
}

.initialForm > button {
  display: block;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background-color: #51af33;
  padding: 9.6px 26.5px;
  border-color: #86919d ;
  width: 100%;
  color: white;
  border-radius: 4px;
  font-size: 19.2px;
  transition-property: background-color, color;
  transition-timing-function: ease;
  transition-duration: 0.16s;
} 

.initialForm > button:hover {
  background-color: #438e29;
}

.submitButton {
  margin-top: 20px
}

.disclaimer {
  display: block;
  color: #86919d; 
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}

.errors {
  list-style-type: none;
  color: #349993;
}