.navbar {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  padding: 12px;
}

.navBarUl {
  display: flex;
  align-items: center;
  color: #51af33;
}

.leftNav {
  display: flex;
  justify-content: start;
}

.rightNav {
  display: flex;
  justify-content: end;
}

.rightNav a {
  text-decoration: none;
}

.navBarLogInButton {
  display: inline-block;
  text-align: center;
  padding: 0.5em 1.38em 0.5em;
  border-radius: 4px;
  font-size: 18px;
  border: 1px solid #51af33;
  background-color: white;
  transition-property: background-color, color;
  transition-timing-function: ease;
  transition-duration: 0.16s;
  color: hsl(105, 55%, 44%); 
}
.navBarLogInButton:hover {
  color: white; 
  background-color: #51af33;
  cursor: pointer;
}  

.navBarUl > li {
  padding-right: 20px;
  font-size: 18px;
}

.navBarUl a {
  color: hsl(105, 55%, 44%); 
}