nav {
  display: flex;
  justify-content: space-between;
  color: #36b642;
  background-color: orange;
}

nav {
  display: inline-flex;
  color: #36b642;
  /* justify-content: space-between; */
}

/* .logo-link {
  display: flex;
  align-self: start;
} */