.searchMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchFields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px
}

.textLogo {
  margin-top: 40px;
}

.searchFields > section {
  border: 1px gray solid;
  border-radius: 4px;
  margin: 7px 0px;
  padding: 20px;
  background-color: white;
  width: 100%;
}

.searchFields > button {
  display: block;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background-color: #51af33;
  padding: 9.6px 26.5px;
  border-color: #86919d ;
  width: 100%;
  color: white;
  border-radius: 4px;
  margin-top: 7px;
  font-size: 19.2px;
  transition-property: background-color, color;
  transition-timing-function: ease;
  transition-duration: 0.16s;
}

.searchFields > button:hover {
  background-color: #438e29;
  cursor: pointer;
}

.interest, .location, .duration , .description {
  display: flex;
  flex-direction: column;
}

.duration label {
  margin-left: -3px;
}

.interest > * {
  margin: 4px 0px;
} 

.duration > * {
  margin: 4px 0px;
}

.location input {
  margin-top: 8px;
  width: 100px;
  padding: 3px;
}

.description textarea {
  margin-top: 8px;
  min-height: 120px;
  padding: 5px;
}

.errors {
  color: red;
}