.searchMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchFields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 520px
}

.textLogo {
  margin-top: 40px;
}

.searchHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid gray;
  height: 100px;
}

.bunnyLogo img {
  height: 60px;
  padding-right: 10px;
}

.searchFields > section {
  border: 1px gray solid;
  border-radius: 4px;
  margin: 7px 0px;
  padding: 20px;
  background-color: white;
  width: 480px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.searchFields > button {
  display: block;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background-color: #51af33;
  padding: 9.6px 26.5px;
  border-color: #86919d ;
  width: 100%;
  color: white;
  border-radius: 4px;
  margin: 7px 0 10em 0;
  font-size: 19.2px;
  transition-property: background-color, color;
  transition-timing-function: ease;
  transition-duration: 0.16s;
}

.searchFields > button:hover {
  background-color: #438e29;
  cursor: pointer;
}

.interest, .location, .duration , .description {
  display: flex;
  flex-direction: column;
}

.duration label {
  margin-left: -3px;
}

.interest > * {
  margin: 4px 0px;
} 

.duration > * {
  margin: 4px 0px;
}

.location input {
  margin-top: 8px;
  width: 100px;
  padding: 3px;
}

.description textarea {
  margin-top: 8px;
  min-height: 120px;
  padding: 5px;
}

.errors {
  color: red;
}

.searchFields > button {

}