.coachMain {
  border: 1px solid lightgray;
  border-radius: 4px;
  display: flex;
  background-color: white;
  box-shadow: 0px 2px 6px 0px #c4c4c4;
  justify-content: flex-start;
  padding: 15px 0px 15px 40px;
  margin-top: 30px;
  width: 750px;
  height: 400px;
  /* margin-left: 400px; */
}

.coachProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 50%;

}

.coachProfile img{
  border: 1px solid lightgray;
  border-radius: 50%;
  width: 70%;
}

.coachProfile span {
  margin: 20px 0;
  display: flex;
  justify-content: center;

}
.elite, .equipment {
  font-weight: bold;
  font-size: 1.4em;
  color: green;
}

.coachDetails {
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: -webkit-fill-available;
}

.coachDetails li {
  margin: 10px 0;
  font-size: 18px;
  line-height: 1.3;
}

.coachNameContainer {
  display: flex;
  justify-content: space-between;
}

.coachName {
  font-size: 2em;
  font-weight: bolder;
}

.coachRate {
  font-size: 1.5em;
  font-weight: bold;
}

.trainingDescription {
  width: 100%;
  border-top: 1px solid lightgray;
  padding: 20px 0;
  font-size: 18px;
  line-height: 1.3;
}

.trainingDescription span:first-child {
  font-weight: bolder;
}

.trainNow {
  display: block;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background-color: #51af33;
  border: none;
  padding: 7px 22px;
  width: 100%;
  color: white;
  border-radius: 4px;
  margin-top: 20px;
  font-size: 17px;
  transition-property: background-color, color;
  transition-timing-function: ease;
  transition-duration: 0.16s;
}

.trainNow:hover {
  background-color: #438e29;
  cursor: pointer;
}