.coachMain {
  border: 1px solid gray;
  border-radius: 4px;
  display: flex;
  background-color: white;
  justify-content: flex-start;
  padding: 15px 0px 15px 40px;
  margin-top: 30px;
  min-width: 600px;
  margin-left: 220px;
}

.coachProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.coachProfile img{
  border: 1px solid gray;
  border-radius: 50%;
  /* margin-right: 30px; */
}

.coachProfile span {
  margin: 20px 0;
  display: flex;
  justify-content: center;

}
.elite, .equipment {
  font-weight: bolder;
  font-size: 1.2em;
  color: green;
}

.coachDetails {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  width: -webkit-fill-available;
}

.coachDetails li {
  margin: 10px 0;
}

.coachNameContainer {
  display: flex;
  justify-content: space-between;
}

.coachName {
  font-size: 2em;
  font-weight: bolder;
}

.coachRate {
  font-size: 1.5em;
  font-weight: bold;
}

.trainingDescription {
  width: 100%;
  border-top: 1px solid lightgray;
  padding: 20px 0;
}

.trainingDescription span:first-child {
  font-weight: bolder;
}

.trainNow {
  display: block;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background-color: #51af33;
  border: none;
  padding: 7px 22px;
  width: 100%;
  color: white;
  border-radius: 4px;
  margin-top: 20px;
  font-size: 17px;
  transition-property: background-color, color;
  transition-timing-function: ease;
  transition-duration: 0.16s;
}

.trainNow:hover {
  background-color: #438e29;
  cursor: pointer;
}